.container {
  font-family: Serif;
  margin: 20px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.remove-margin {
  margin: 0px;
}

.section-header {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.section-subheader {
  color: rgb(34, 34, 34);
  font-weight: bold;
}

.section-subheader-spacing {
  margin-left: 20px;
}

.section-right-text {
  font-style: italic;
}

.company {
  font-size: small;
  font-style: italic;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.skills-applied {
  margin-left: 10%;
}

.skills-header {
  margin: 0px;
}

.skills-col0 {
  animation-duration: 1.5s;
  animation-name: slidein;
}

.skills-col1 {
  animation-duration: 0.5s, 1.5s;
  animation-delay: 0s, 0.5s;
  animation-name: hide, slidein;
}

@keyframes slidein {
  from {
    transform: translateY(1000%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes hide {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
